{% extends "master.html" %}

{% block title %}
  Video Downloader
{% endblock %}

{% block content %}
<main>
  <div class="form-container">
      <h1>Download Video</h1>

      <form action="/handle-form/" method="POST" onsubmit="submitForm(event)">
          {% csrf_token %}
          <label for="url">YouTube URL:</label>
          <input type="text" name="url" id="url" required>
      
          <label for="time_start">Start Time (MM:SS):</label>
          <input type="text" name="time_start" id="time_start" value="0:00" required>
      
          <label for="time_range">Time Range (seconds):</label>
          <select name="time_range" id="time_range">
              <option value="0">Full Video</option>
              <option value="30">30 seconds</option>
              <option value="60">60 seconds</option>
              <option value="90">90 seconds</option>
              <option value="120">120 seconds</option>
              <option value="150">150 seconds</option>
              <option value="180">180 seconds</option>
              <option value="240">240 seconds</option>
              <option value="300">300 seconds</option>
          </select>
          
          <hr/>
      

          <div>
            <label for="action">Action:</label>
            <select id="action" name="action" required>
              <option value="download">Download Video</option>
              <option value="transcript">Fetch Transcript</option>
            </select>
          </div>

          <hr/>
          <button type="submit">Submit</button>
      </form>
  </div>
  
</main>
{% endblock %}
